!!! 5
%html{lang: 'en'}
  // just utilize 2 tabs...
  // It's HAML...
  %head
    %title Demo Page
    // add link...
    // add script...
  %body
    %h1 Why should I use HAML?
    %h2 Because, it saves you a ton of time...